# Database
RDS_USERNAME=
RDS_PASSWORD=
RDS_HOSTNAME=
RDS_PORT=
RDS_DB_NAME=

# JWT Secret Key
JWT_SECRET_KEY=

# Frontend Config
FRONTEND_URL=

# Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=